anyio==4.8.0
asttokens==3.0.0
attrs==25.1.0
beautifulsoup4==4.13.3
bota==4.0.71
botasaurus==4.0.76
botasaurus_api==4.0.9
botasaurus_driver==4.0.66
botasaurus_proxy_authentication==1.0.16
botasaurus_requests==4.0.38
botasaurus_server==4.0.60
bottle==0.13.2
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.1
casefy==1.0.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
close_chrome==4.0.40
colorama==0.4.6
comm==0.2.2
debugpy==1.8.12
decorator==5.1.1
Deprecated==1.2.18
durationpy==0.9
et_xmlfile==2.0.0
executing==2.2.0
gevent==24.11.1
geventhttpclient==2.3.3
google-auth==2.38.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==8.32.0
javascript_fixes==1.1.29
jedi==0.19.2
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kubernetes==32.0.0
lxml==5.3.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ndjson==0.3.1
nest-asyncio==1.6.0
numpy==2.2.2
oauthlib==3.2.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.19.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyVirtualDisplay==3.0
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
selenium==4.28.1
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
stack-data==0.6.3
tornado==6.4.2
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2025.1
Unidecode==1.3.8
urllib3==2.3.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
XlsxWriter==3.2.2
zope.event==5.0
zope.interface==7.2
